<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>BackEndUserData</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UsersListController</servlet-name>
        <servlet-class>com.eland.pojo.controller.UsersListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersListController</servlet-name>
        <url-pattern>/usersListController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserInfoList</servlet-name>
        <jsp-file>/view/UserInfoList.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInfoList</servlet-name>
        <url-pattern>/UserInfoList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserManagement</servlet-name>
        <jsp-file>/view/UserManagement.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagement</servlet-name>
        <url-pattern>/UserManagement</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserCreate</servlet-name>
        <jsp-file>/view/UserCreate.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCreate</servlet-name>
        <url-pattern>/UserCreate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserUpdate</servlet-name>
        <jsp-file>/view/UserUpdate.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserUpdate</servlet-name>
        <url-pattern>/UserUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserDelete</servlet-name>
        <jsp-file>/view/UserDelete.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDelete</servlet-name>
        <url-pattern>/UserDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackEndUserData</servlet-name>
        <jsp-file>/view/BackEndUserData.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackEndUserData</servlet-name>
        <url-pattern>/BackEndUserData</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>user_information_edit</servlet-name>
        <jsp-file>/view/user_information_edit.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>user_information_edit</servlet-name>
        <url-pattern>/user_information_edit</url-pattern>
    </servlet-mapping>

</web-app>